#blog {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#blog h2 {
	width: fit-content;
	margin-left: 2rem;
	padding-bottom: 0.6rem;
	font-family: "Geologica", sans-serif;
	color: #444444;
	transition: ease-out 0.25s;
}
#blog h2:hover {
	color: #ff0060;
	border-bottom: 1px solid #e77baf;
}
a {
	text-decoration: none;
}
.cards_blog {
	display: flex;
	justify-content: space-evenly;
	margin: 1.5rem 0;
}
.card_blog {
	width: 25%;
	height: 220px;
	border: 1px solid #9babb8;
	border-radius: 0.3rem;
	font-size: 1.2rem;
	padding: 0.4rem 0 0 1rem;
	transition: ease-in-out 0.3s;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center right;
	background-color: #fff;
}