@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@700&family=Inter:wght@500&family=Roboto&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100vh;
	font-family: "Roboto", sans-serif;
}
.Navbar {
	position: sticky;
	top: 0;
	z-index: 999;
	display: flex;
	height: 4rem;
	align-items: center;
	margin: 0rem 0 3rem 0;
	padding-top: 1.3rem;
	padding-bottom: 0.1rem;
	background-color: #0a0a0a;
}

.Navbar .logo {
	width: 15%;
}
.nav {
	width: 85%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.logo img {
	width: 55px;
	height: 100%;
	margin-left: 2.5rem;
	padding-bottom: 1rem;
	background: #fff;
	background-clip: content-box;
	border-top-left-radius: 10rem;
	border-top-right-radius: 10rem;
}
.Navbar .nav a {
	display: flex;
	height: 95%;
	margin: 0 2.5rem;
	padding-bottom: 0.9rem;
	text-decoration: none;
	color: #808088;
	font-size: 1.1rem;
	align-items: center;
	transition: all ease-in-out 0.2s;
}
.Navbar a:not(:first-child):hover {
	color: #fff;
	border-bottom: 5px solid #0d6efd;
	transform: scale(1.1);
}
.accueils {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	margin-bottom: 1.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("./img/magicpattern.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.left {
	width: 80%;
	color: #fff;
	font-family: "Inter", sans-serif;
	text-align: justify;
}
.left p {
	line-height: 2.2rem;
}

/* service */

.back {
	height: 70vh;
	background-image: url(./img/back.png);
	display: flex;
	justify-content: center;
	align-items: center;
}
.back h1 {
	font-size: 5rem;
	font-family: "Geologica", sans-serif;
	background-color: white;
	mix-blend-mode: screen;
}
.Services {
	border: 1px solid;
	padding-left: 1rem;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23dbe866%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23e4ed8c%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%230aa1e6%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%2347b8ec%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23ff3d7f%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 466c59.553 5.617 119.106 11.235 185-10s138.128-69.322 207-79c68.872-9.678 134.383 19.052 203 9 68.617-10.052 140.339-58.885 208-45 67.661 13.885 131.262 90.488 193 114s121.615-6.067 194-28 157.278-36.22 227-32c69.722 4.22 124.271 26.944 189 30 64.729 3.056 139.637-13.555 207-10 67.363 3.555 127.182 27.278 227 51l-40 934H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 933c64.795-69.878 129.59-139.756 192-128s122.437 105.145 186 138c63.563 32.855 130.663 5.176 199-14 68.337-19.176 137.911-29.849 214-39s158.692-16.78 220-11c61.308 5.78 101.32 24.969 170 24 68.68-.969 166.028-22.095 237 9 70.972 31.095 115.57 114.41 178 145 62.43 30.59 142.694 8.454 213-21 70.306-29.454 130.653-66.227 231-103l-40 467H0Z%22 fill=%22url(%23b)%22%2F%3E%3C%2Fsvg%3E");
	margin-bottom: 4rem;
}
h3 {
	height: 2rem;
	font-family: "Geologica", sans-serif;
	font-size: 2rem;
	padding-left: 1rem;
	color: #111;
	margin: 1.5rem 0;
}
.strategie h3,
.crm h3,
.auto h3 {
	width: 95%;
	height: 2.3rem;
	mix-blend-mode: screen;
	background-color: #fff;
	border-radius: 0.3rem;
}
.strategie,
.auto,
.crm {
	height: 100vh;
}
.service p {
	color: #fff;
}
.crm {
	display: flex;
	align-items: center;
}
.left-crm {
	width: 55%;
}
.right-crm {
	width: 45%;
}
.right-crm img {
	width: 100%;
}
.strategie {
	display: flex;
	align-items: center;
}
.left-strategie {
	width: 45%;
}
.right-strategie {
	width: 55%;
}
.left-strategie img {
	width: 100%;
}
.auto {
	display: flex;
	align-items: center;
}
.left-auto {
	width: 55%;
}
.right-auto {
	width: 45%;
}
.right-auto img {
	width: 100%;
}
.text {
	height: fit-content;
}
.text p {
	line-height: 1.5rem;
	font-size: 1.2rem;
	color: #27374d;
}

/* contact */

.formulaire {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#text {
	width: 50%;
	height: 50vh;
	padding-left: 4rem;
}
#text h1,
h5 {
	font-family: "geolorgica", sans-serif;
}
#text h1 {
	font-size: 3rem;
	font-weight: 900;
}
#text h5 {
	font-size: 1.2rem;
	font-weight: 300;
	padding-left: 1.5rem;
}
#service,
#blog {
	height: 50vh;
}

#blog {
	height: 75vh;
}

/* contacte */

#contact {
	display: flex;
	align-items: baseline;
	padding: 0 2rem;
	justify-content: space-between;
	background-color: #27374d;
	color: #fff;
}
.text-contact {
	width: 40%;
	padding-top: 2rem;
}
.text-contact > h1 {
	font-size: 4rem;
	font-family: "Geologica", sans-serif;
}
#contact-form {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-contact {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#form {
	width: 60%;
	position: relative;
	padding: 1rem 2.5rem;
	color: #111;
	background: #fff;
	border-radius: 0.5rem;
	margin-bottom: 3rem;
	box-shadow: 0 0 0.5rem #111;
}
label {
	margin: 1rem 0;
	font-family: "Geologica", sans-serif;
}
#input,
#mail {
	height: 2rem;
	padding: 0.2rem 0 0.2rem 1rem !important;
	font-size: 1rem !important;
	border-bottom: 1px solid !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-radius: 0 !important;
	outline: none !important;
}
#input,
#text-area,
#mail:focus {
	box-shadow: none;
	outline: 0;
}
.btn-primary {
	width: 50% !important;
	height: 2.5rem !important;
	border: none !important;
	border-radius: 0.3rem !important;
	background-color: #ff0060 !important;
	color: #fff !important;
	font-size: 0.9rem !important;
	margin-top: 1.5rem !important;
	transform: translateX(6.5vw) !important;
}
#text-area {
	border-radius: 0.3rem;
	border: 1px solid;
	resize: none;
	padding: 0.5rem 0.2rem 0 0.5rem;
	outline: none;
}

@media only screen and (max-width: 767px) {
	body {
		font-size: 16px;
	}
  .Navbar {
    height: 2.5rem;
    align-items: center;
    margin-bottom: 2rem;
    padding-top: unset;
    padding-bottom: unset;
  }

  .Navbar .logo {
    width: 15%;
  }

  .nav {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .Navbar .nav a {
    display: none;
  }
	.accueils {
		height: 50vh;
    display: flex;
    align-items: center;
    padding: unset;
		margin-bottom: 10px;
	}
	.left {
		text-align: justify;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: unset;
	}
	.left p {
		font-size: 10px !important;
    color: #ffffffc2;
    line-height: unset;
    margin-bottom: unset !important;
	}
	#service,
	#blog {
		height: unset;
	}
	#service h2, #blog h2{
		width: unset !important;
		padding-bottom: unset !important;
	}
	.logo img {
    width: 35px;
    margin-left: 1rem;
    padding-bottom: unset;
	}
	#contact {
    padding: unset;
		display: block;
	}
	.form-contact {
    width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-contact {
	width: unset;
	padding: 2rem 0 0 1.5rem;
}
.text-contact > h1 {
	font-size: 2rem;
	font-family: "Geologica", sans-serif;
}
	#contact-form {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
	#form {
    width: 90%;
    position: relative;
    padding: 1rem 1.5rem;
    color: #111;
    background: #fff;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
	}
	.footer{
		height: 35px;
	}
	.footer h4{
		font-size: unset;
	}
}